<style>
*{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
        }
      body{
          background-color:rgb(41, 43, 43);
      }
</style>

<h4>INGRESAR JUEGO</h4>
 
<section id="blog">
    
    
       <p size style="color:white" >ID: </p>
				
				<input type="text" placeholder="">
                <br> <br>
	    <p style="color:white">Nombre: </p>
                
				<input type="text" >
                <br> <br>
        <p size style="color:white" >Descripcion: </p>
				
				<input type="text" placeholder="">
                <br> <br>
	    <p style="color:white">Link:</p>
                
				<input type="text" >
                <br> <br>
        <p size style="color:white" >Imagen:</p>
				
				<input type="text" placeholder="">
                <br> <br>
	     <p size style="color:white" >Precio: :</p>
				
				<input type="text" placeholder="">
                <br> <br>


                          
        
    </div>
</section>