@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<html>
<head>
    <title>login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
   *{color: #fff;} 

    .fond{
      background-image: url('../images/fortnite.jpg') ;
      width: 100%;
      height: 100vh;
       }
    .form-container{border:0px solid #fff; padding:30px 60px; margin-top:20vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);}
</style>
<body>
    <div class="container-fluid fond">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
 <form class="form-container">
    <h1>Iniciar Sesión -SICORA</h1>
  <div class="form-group">
    <label for="exampleInputEmail1">Usuario/Correo electronico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox">Recordarme
    </label>
  </div>
  <a asp-area="" asp-controller="Home" asp-action="Principal" class="btn btn-success btn-block">Entrar</a>
</form>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-12"></div>
   
</body>
</html>
