@{
    ViewData["Title"] = "SICORA GAMER";
}
<html lang="en">
<head>
	<title>Document</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
        }
      body{
          background-color:rgb(41, 43, 43);
      }
      .item {
      display: block;
      width: 100%;
      height: 600px;
}
.item img {
      height: 100%;
      width: 100%;
}
figure{
    background-color: black;
}
#blog h4{
    text-align: center;
    color: #999;
}
#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#blog article {
    margin: 18px;
    background-color: #111;
}
#blog img{
    width: 100%;
    width: 290px;
    height: 250px;  
    
}
#info {
    background:rgb(19, 18, 18);
    color: #fff;
    text-align: center;
}
#info .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-pro{
    margin: 40px;
}
.info-pro img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
}
footer{
    width: 100%;
    background: #202020;
    padding: 40px;
    color: white;
    
}
.container-footer-all{
    width: 100%;
    max-width: 1600px;
    margin: auto;
}
.container-body{
    display: flex;
    justify-content: center;
}
.column1{
    max-width: 400px;
}
.column1 h1{
    font-size: 22px;
}
.column1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}
.column2{
    max-width: 400px;
}
.column2 h1{
    font-size: 22px;
}
.row {
    margin-top 20px;
    display: flex;
}
.row img{
    width: 35px;
    height: 36px;
}
.row label{
    margin-top:10px;
    margin-left: 20px;
    color:  #C7C7C7;
}
.column3{
    max-width: 400px;
}
.column3 h1{
    font-size: 22px;
}
.row2{
    margin-top: 20px;
}
.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}
.container-footer{
    width: 100%;
    background: #101010;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
}
.copyright{
    color: #C7C7C7;
}
.copyrigth a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.information a{
    text-decoration: none;
    color: white;
}
footer .column1, .column2, .column3 {
    margin: 65px;
}

    </style> 
<body>

		
		<div class="col-md-12">
            
			<div id="carousel-1" class="carousel slide" data-ride="carousel" data-interval="5000">
				
				<ol class="carousel-indicators">
					<li data-target="#carousel-1" data-slide-to="0" class="active" ></li>
					<li data-target="#carousel-1" data-slide-to="1"	></li>
					<li data-target="#carousel-1" data-slide-to="2"	></li>
				</ol>
				
				
				<div class="carousel-inner" role="listbox">
					
					<div class="item active">
						<img class="d-block w-100" src="~/images/razer.jpg" alt="" class="img-responsive">
						<div class="carousel-caption">
							<h3>Mejores Perifericos</h3>
                    </a>
							
						</div>
					</div>
					
					<div class="item ">
						<img src="~/images/fifa19.jpg" class="d-block w-100" class="img-responsive" alt="">
						<div class="carousel-caption ">
							<h3>Juegos y más</h3>
							
						</div>
					</div>
					
					<div class="item">
						<img src="~/images/chicagamer.jpg" class="d-block w-100" alt="" class="img-responsive">
						<div class="carousel-caption ">
			   				<h3>Mayor Experiencia Gaming</h3>
						</div>
					</div>
				</div>
				
				<a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Anterior</span>
				</a>
				<a href="#carousel-1" class="right carousel-control" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Siguiente</span>
				</a>
			</div>
		</div>
	</div>
    

<section id="blog">
    
    <div class="contenedor">
        <article>
            <img src="~/images/season6.jpg">
            <h4>Fortnite Battle Royal</h4>
        </article>
        <article>
            <img src="~/images/novedad2.jpg">
            <h4>Laptop Omen</h4>
        </article>
        <article>
            <img src="~/images/novedad3.jpg">
            <h4>Fifa 19</h4>
        </article>
        <article>
            <img src="~/images/hyperx.jpg">
            <h4>Audifonos HyperX</h4>
        </article>
    </div>
</section>

<section id="info">
      <h3>Profesionales que compran en nuestra tienda</h3>
      <div class="contenedor">
          <div class="info-pro">
              <img src="~/images/tfue.jpg">
              <h4>Tfue</h4>
          </div>
          <div class="info-pro">
              <img src="~/images/faker.jpg">
              <h4>Faker</h4>
          </div>
          <div class="info-pro">
              <img src="~/images/shroud.jpeg">
              <h4>Shroud</h4>
          </div>
          <div class="info-pro">
              <img src="~/images/chuty.jpg">
              <h4>Chuty</h4>
          </div>
      </div>
</section>
    <footer>
        <div class="container-body">
            <div class="column1">
                <h1>Informacion de SICORA</h1>
                <p>Este grupo se mrd se dedica a la venta de perifericos gamer,programas,juegos e informacion de eventos
                    de mrd ojo crazy
                </p>
            </div>
            <div class="column2">
                <h1>Redes Sociales</h1>
                <div class="row">
                    <img src="~/images/icoface.png">
                    <label>Siguenos en Facebook</label>
                </div>
                <div class="row">
                    <img src="~/images/icotwitter.png">
                    <label>Siguenos en Twitter</label>
                </div>
                <div class="row">
                    <img src="~/images/icoinstagram.png">
                    <label>Siguenos en Instagram</label>
                </div>
                <div class="row">
                    <img src="~/images/icongoogle.png">
                    <label>Siguenos en Google Plus</label>
                </div>
            </div>
            <div class="column3">
                <h1>Informacion Contactos</h1>
                <div class="row2">
                    <label>Usmp, Lafontana</label>
                </div>
                <div class="row2">
                    <label>999-999-999</label>
                </div>
                <div class="row2">
                    <label>Daniel Dobermanrique Cabronel</label>
                </div>
            </div>
        </div>

<<<<<<< HEAD
        <div class="container-footer">  
=======
        <div class="container-footer">
>>>>>>> 5e08013ed8198c238091d4b965261809c2ec69b7
            <div class="copyrigth">
                ® 2018 Todos los Derechos Reservados <a href="#" > SICORA</a>
            </div>
            <div class="information">
                <a href="#">Informacion Compañia</a>|
                <a href="#">Privacion y Politica</a>|
                <a href="#">Terminos y Condiciones</a>
            </div>
        </div>
    </footer>
</body>
</html>