@{
    ViewData["Title"] = "SICORA GAMER";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
Bienvenidos a la pagina SICORA GAMER donde brindaremos novedades, promociones y noticias.<br>

<table style="center">
    <tr> 
        <h2>NOVEDADES</h2>
        <td>
            <img src="~/images/novedad1.jpg" alt="FORNITE" width="250" height="250" /><br><br>
            FORNITE BATTLE ROYAL<br>
            TEMPORADA 6<br>
            <br>
            <a href="https://www.youtube.com/watch?v=pD49p06qOSo"><input type="button" name="TRAILER" value="TRAILER"></a>
            
        </td>
        
        <td>
            <img src="~/images/novedad2.jpg" alt="LAPTOP 2019" width="250" height="250" /><br><br>
            FORNITE BATTLE ROYAL<br>
            TEMPORADA 6<br>
            <a href="https://www.youtube.com/watch?v=AkmpCegebW4"><input type="button" name="TRAILER" value="TRAILER"></a>
            
        </td>
        
        <td>
            <img src="~/images/novedad3.jpg" alt="FIFA 19" width="250" height="250" /><br><br>
            FORNITE BATTLE ROYAL<br>
            TEMPORADA 6<br>
            <a href="https://www.youtube.com/watch?v=zX0AV6yxyrQ"><input type="button" name="TRAILER" value="TRAILER"></a>
            
        </td>
    </tr>
    <br>

    <tr> 
       
        <td>
            <img src="~/images/promocion1.jpg" alt="TECLADO GAMER" width="250" height="250" /><br><br>
            PROMOCION:<br>
            TECLADOS GAMER<br>
            <a href=""><input type="button" name="COMPRAR" value="COMPRAR"></a>
            
        </td>
        
        <td>
            <img src="~/images/promocion2.jpg" alt="TRIO CPU" width="250" height="250" /><br><br>
            PROMOCION:<br>
            CPU 6XT - 960<br>
            <a href=""><input type="button" name="COMPRAR" value="COMPRAR"></a>
            
        </td>
        
        <td>
            <img src="~/images/promocion3.jpg" alt="COMBO NINTENDO" width="250" height="250" /><br><br>
            PROMOCION:<br>
            PACK GAMER NINTENDO<br>
            <a href=""><input type="button" name="COMPRAR" value="COMPRAR"></a>
            
        </td>
    </tr>
    <br>

    <tr> 
        
        <td>
            <img src="~/images/noticia1.jpg" alt="TORNEO RUBIUS" width="250" height="250" /><br><br>
            TORNEO DE YOUTUBERS<br>
            !FORNITE!<br>
            <a href=""><input type="button" name="INFORMACION" value="INFORMACION"></a>
            
        </td>
        
        <td>
            <img src="~/images/noticia2.jpg" alt="GTA 6" width="250" height="250" /><br><br>
            NUEVO PASO DE ROCKSTAR <br>
            !GTA 6!<br>
            <a href=""><input type="button" name="INFORMACION" value="INFORMACION"></a>
            
        </td>
        
        <td>
            <img src="~/images/noticia3.jpg" alt="FUNKO POP" width="250" height="250" /><br><br>
            FUNKO POP<br>
            !FORNITE!<br>
            <a href=""><input type="button" name="INFORMACION" value="INFORMACION"></a>
            
        </td>
    </tr>
</table>
<br>
<br>
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>