@{
    ViewData["Title"] = "PROGRAMAS DESCARGABLES";
}
<style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
        }
      body{
          background-color:rgb(41, 43, 43);
      }
      .item {
      display: block;
      width: 100%;
      height: 600px;
}
.item img {
      height: 100%;
      width: 100%;
}
figure{
    background-color: black;
}
#blog h4{
    text-align: center;
    color: #999;
}
#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#blog article {
    margin: 18px;
    background-color: #111;
}
#blog img{
    width: 100%;
    width: 290px;
    height: 250px;  
    
}
#info {
    background:rgb(19, 18, 18);
    color: #fff;
    text-align: center;
}
#info .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-pro{
    margin: 40px;
}
.info-pro img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
}
footer{
    width: 100%;
    background: #202020;
    padding: 40px;
    color: white;
    
}
.container-footer-all{
    width: 100%;
    max-width: 1600px;
    margin: auto;
}
.container-body{
    display: flex;
    justify-content: center;
}
.column1{
    max-width: 400px;
}
.column1 h1{
    font-size: 22px;
}
.column1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}
.column2{
    max-width: 400px;
}
.column2 h1{
    font-size: 22px;
}
.row {
    margin-top 20px;
    display: flex;
}
.row img{
    width: 35px;
    height: 36px;
}
.row label{
    margin-top:10px;
    margin-left: 20px;
    color:  #C7C7C7;
}
.column3{
    max-width: 400px;
}
.column3 h1{
    font-size: 22px;
}
.row2{
    margin-top: 20px;
}
.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}
.container-footer{
    width: 100%;
    background: #101010;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
}
.copyright{
    color: #C7C7C7;
}
.copyrigth a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.information a{
    text-decoration: none;
    color: white;
}
footer .column1, .column2, .column3 {
    margin: 65px;
}
.img1{
    width: 100%;
    width: 290px;
    
}
.info-img{
    width: 100%;
    width: 290px;
    height: 250px;
    position: absolute;
    background-color: #101010;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
}
.info-img:hover{
    opacity: 1;
}
.info-1{
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    color: white;
    opacity: 1;
}
.titulo-container{
    text-align: center;
    color: white;
    width: 100%;
    background: #101010;
    padding-bottom: 25px;
    padding-top: 25px;
}
.hr{
    margin-top: 30px;
}
.trailer{
    text-align: center;
    
}
.button1:hover {
    background-color: white;
    color: black;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
}

.button1 {
<<<<<<< HEAD
    background-color: red;
=======
    background-color:red;
>>>>>>> 6c147ee73f1efe3d1e98db9a7daa3d68f4ba770e
    color: white;
    border: 2px solid red;
    padding: 15px;
    padding-left: 42%;
    padding-right: 43%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: none;
}
.button2{
    background-color: red;
    color: white;
    border: 2px solid red;
    padding: 15px;
    padding-left: 40%;
    padding-right: 39.8%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: none;
}
.button2:hover{
    background-color: white;
    color: black;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
}

    </style> 
<body>


<section id="blog">
    <h3 class="titulo-container">TODOS LOS PROGRAMAS </h3>
    <div class="contenedor">
        <article>
            <div class="img1">
                <div class="info-img">
                <p class="info-1">AutoCAD software de diseño asistido por computadora utilizado para dibujo 2D y modelado 3D. <br><br><br><br><br></p><hr>
                
                <a href="" class="button2" role="button" aria-pressed="true" onclick="javascript:alert('Agregado Al Carrito')">Comprar</a>
                </div>
                </div>
                <img src="~/images/autocad.jpg">
            <h4>Autocad 2015</h4>
        </article>
        <article>
            <div class="img1">
                <div class="info-img">
                <p class="info-1">AVG AntiVirus, AVG (AntiVirus Guard) es un software antivirus desarrollado por la empresa checa, AVG Technologies, disponible para sistemas operativos Windows, Linux, Android, iOS y Windows Phone, entre otros. </p><hr>
                
                <a href="" class="button2" role="button" aria-pressed="true" onclick="javascript:alert('Agregado Al Carrito')">Comprar</a>
                </div>
                </div>
            <img src="~/images/avg.jpg">
            <h4>AVG Antivirus</h4>
        </article>
        <article>
            <div class="img1">
                <div class="info-img">
                <p class="info-1">ESET NOD32 es un programa antivirus desarrollado por la empresa ESET <br><br><br><br><br></p><hr>
                
                <a href="" class="button2" role="button" aria-pressed="true" onclick="javascript:alert('Agregado Al Carrito')">Comprar</a>
                </div>
                </div>
            <img src="~/images/nod32.jpg">
            <h4>Nod32 Antivirus</h4>
        </article>
        <article>
            <div class="img1">
                <div class="info-img">
                <p class="info-1">Windows 10 es el vigente sistema operativo desarrollado por Microsoft como parte de la familia de sistemas operativos Windows NT<br><br><br><br></p><hr>
                
                <a href="" class="button2" role="button" aria-pressed="true" onclick="javascript:alert('Agregado Al Carrito')">Comprar</a>
                </div>
                </div>
                <img src="~/images/win10pro.jpg">
            <h4>Windows 10 Pro</h4>
        </article>
        <article>
            <div class="img1">
                <div class="info-img">
                <p class="info-1">Adobe Photoshop es un editor de gráficos rasterizados desarrollado por Adobe Systems Incorporated.<br><br><br><br><br></p><hr>
                
                <a href="" class="button2" role="button" aria-pressed="true" onclick="javascript:alert('Agregado Al Carrito')">Comprar</a>
                </div>
                </div>
                <img src="~/images/photoshop.jpg">
            <h4>Photoshop CC 2017</h4>
        </article>
        <article>
            <div class="img1">
                <div class="info-img">
                <p class="info-1">Adobe Premiere Pro es un software de edición de vídeo desarrollado por Adobe y publicado como parte de Adobe Creative Cloud.<br><br><br><br></p><hr>
                
                <a href="" class="button2" role="button" aria-pressed="true" onclick="javascript:alert('Agregado Al Carrito')">Comprar</a>
                </div>
                </div>
                <img src="~/images/adpremiere.jpg">
            <h4>Adobe Premierer Pro CC 2017</h4>
        </article>
        <article>
            <div class="img1">
                <div class="info-img">
                <p class="info-1">Vegas Pro, conocido antiguamente como Sony Vegas, es un Sistema de edición no lineal diseñado para PC.<br><br><br><br><br></p><hr>
                
                <a href="" class="button2" role="button" aria-pressed="true" onclick="javascript:alert('Agregado Al Carrito')">Comprar</a>
                </div>
                </div>
                <img src="~/images/vegas.jpg">
            <h4>Sony Vegas Pro</h4>
        </article>
        <article>
            <div class="img1">
                <div class="info-img">
                <p class="info-1">Autodesk 3ds Max (anteriormente 3D Studio Max) es un programa de creación de gráficos y animación 3D desarrollado por Autodesk<br><br><br><br></p><hr>
                
                <a href="" class="button2" role="button" aria-pressed="true" onclick="javascript:alert('Agregado Al Carrito')">Comprar</a>
                </div>
                </div>
                <img src="~/images/3d.jpg">
            <h4>Autodesk 3ds Max 2010</h4>
        </article>
        <article>
            <div class="img1">
                <div class="info-img">
                <p class="info-1">McAfee VirusScan es un software antivirus, creado y mantenido por la empresa Intel Security.<br><br><br><br><br></p><hr>
                
                <a href="" class="button2" role="button" aria-pressed="true" onclick="javascript:alert('Agregado Al Carrito')">Comprar</a>
                </div>
                </div>
                <img src="~/images/mc.png">
            <h4>McAfee antivirus</h4>
        </article>
        
    </div>
</section>


    
</body>
</html>